<!DOCTYPE html>
<html>
    <head>
        <title>List of Events</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <h1>List of Events</h1>
  
        <table border="1">
          <tr>
            <th>EVENT TYPE</th>
            <th>TIME</th>
            <th>PLAYER</th>
            
            <th></th>
          </tr>
          <tr th:each="e : ${events}">
            <td th:text="${e.type}">type</td>
            <td th:text="${e.time}">time</td>
            <td th:text="${e.player}">player</td>
           
          </tr>
        </table>
        <a th:href="@{createEventUser(id=${game_id})}" class="btn btn-primary">Create Event</a>
        <a th:href="@{loggedUser}" class="btn btn-primary">Back</a>
    </body>
</html>